import(survival)
import(nnet)
import(relsurv)

importFrom("methods", "hasArg")

importFrom("stats", "predict", "ave", "terms", "as.formula", "median", 
           "quantile")

importFrom("graphics", "abline", "segments")
  
importFrom("RISCA", "roc.time")

importFrom("survivalNET", "expectedhaz")
  
export(sPLANN)
export(rsPLANN)
export(cvPLANN)
export(metrics)

S3method(predict, sPLANN)
S3method(predict, rsPLANN)
S3method(print, sPLANN)
S3method(print, rsPLANN)
S3method(plot, sPLANN)
S3method(plot, rsPLANN)
