import(survival)
import(nnet)

importFrom("methods", "hasArg")

importFrom("stats", "predict", "ave", "terms", "as.formula")
  
importFrom("survivalNET", "expectedhaz")
  
export(sPLANN)
export(rsPLANN)

S3method(predict, sPLANN)
S3method(predict, rsPLANN)
S3method(print, sPLANN)
