import(survival)
import(nnet)

importFrom("methods", "hasArg")

importFrom("stats", "predict", "ave", "terms", "as.formula")
  
export(survivalPLANN)

S3method(predict, survivalPLANN)
S3method(print, survivalPLANN)
